# Build and IDE
.gradle/
.idea/
.kotlin/
*.iml
build/
out/
captures/

# Kotlin & Java
*.class
*.dex
*.apk
*.ap_

# Gradle profiler
gradle-*/
profile-*/

# Local configs
local.properties

# macOS
.DS_Store